@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    font-weight: 700;
}

nav{
    background-color: white;
}

#addExerciseBtn{
    background-color: rgb(56 189 248);
    color: white;
}

#addExerciseBtn:hover{
    background-color: rgb(0, 178, 254);
}

#addSetBtn{
    background-color: #E7E7E7;
    color: rgb(84, 84, 84);   
}

#addSetBtn:hover{    
    background-color: #cdcdcd;
}

#CreateBtn{
    background-color: rgb(53, 214, 53);
    color: white;
}

#CreateBtn:hover{
    background-color: rgb(8, 198, 8);
}